<br/>
<br/>
<div style="text-align:center">
  <h1 class="display-1"><span class="badge" style="background:pink">{{word}}</span></h1>
</div>
<br/>
<br/>
<div style="text-align:center">
  <div class="btn-group btn-group-lg"> 
    <button type="button" class="btn btn-secondary" [disabled]="playing" (click)="Beginning()">Beginning</button>
    <button type="button" [style.background-color]="playColour" [disabled]="playing" class="btn btn-secondary" (click)="Play()">Play</button>
    <button type="button" [style.background-color]="stopColour" [disabled]="!playing" class="btn btn-secondary" (click)="Stop()">Stop</button>
    <button type="button" class="btn btn-secondary" [disabled]="atEnd || playing" (click)="Next()">Next</button>
    <button type="button" [style.background-color]="randomColour" class="btn btn-secondary"(click)="Random()">Random</button>
  </div>
</div>
<br/>
<div style="text-align:center">
  <div class="btn-group btn-group-lg"> 
    <button type="button" class="btn btn-secondary" (click)="Slower()">Slower</button>
    <button type="button" class="btn btn-secondary" (click)="Faster()">Faster</button>
  </div>
</div>
<div>  
  {{error}}
</div>
