<!--The content below is only a placeholder and can be replaced.-->
<div class="card">
  <div class="card-header">
    Speedy Words 
    <button type="button" class="btn btu-secondary active" (click)="SetList('List 1')">List 1</button>
    <button type="button" class="btn btu-secondary" (click)="SetList('List 2')">List 2</button>
    <button type="button" class="btn btu-secondary" (click)="SetList('List 3')">List 3</button>
  </div>
  <div class="card-block">
    <app-word-list [list]="list"></app-word-list>
  </div>
</div>

